<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% block body %}
<body>
	<div class="container">
		<h4>Please Login:</h4>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}">
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
	</div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</html>
