<!doctype html>
<html>
    <title>Upload new File</title>
    <body>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
    <input type=file name=file>here</input>
    <input type=text name=file>here</input>
    <input type=submit value=Upload>here</input>
    </form>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
